/* 

*/

*,
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%
}

body {
  font-family: 'Lato';
  font-weight: 400;
  /* font-size: 16px; */
  color: #777;
  padding: 3rem;

  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to left bottom, rgba(32, 0, 102, 0.8), rgba(106, 111, 194, 0.8)), url(./images/bg2.jpg);
  /* background-image: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40, 180, 131, 0.8)),url(../src/images/bg.jpg); */
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%)
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #eee;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  color:#eee;
  text-transform: uppercase;
}
.heading-primary--sub {
  display: block;
  color: #eee;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
}